# Immutable or Unchangeable

In [2]:
cars = ('Audi', 'BMW', 'Ferrari')

cars[1] = "lamborgini"

TypeError: 'tuple' object does not support item assignment

# tuple is immutable **However** it can be achived by type casting
* convert tuple into list
* append, remove, modify or... value
* again back to tuple from list

In [3]:
cars = ('Audi', 'BMW', 'Ferrari')
x= list(cars)

type(x)

list

In [4]:
x.append("Lamorgini")
x

['Audi', 'BMW', 'Ferrari', 'Lamorgini']

In [5]:
# by default append method add item at the last

y = tuple(x)
type(y)

tuple

In [6]:
y

('Audi', 'BMW', 'Ferrari', 'Lamorgini')

In [8]:
cars = ('Audi', 'BMW', 'Ferrari')
x= list(cars)
x.append("Lamorgini")
y = tuple(x)
y

('Audi', 'BMW', 'Ferrari', 'Lamorgini')

In [9]:
# REMOVE FERARI FROM TUPLE
cars = ('Audi', 'BMW', 'Ferrari')
x= list(cars)
x.remove('Ferrari')
y = tuple(x)
y

('Audi', 'BMW')

In [10]:
# insert item in particular index
cars = ('Audi', 'BMW', 'Ferrari')
x = list(cars)
x.insert(1, "Lamborgini")
y = tuple(x)
y

('Audi', 'Lamborgini', 'BMW', 'Ferrari')

# delete method can be used to delete entire tuple 

# or particular by casting to list

In [13]:
cars = ('Audi', 'BMW', 'Ferrari')

del cars

In [14]:
cars = ('Audi', 'BMW', 'Ferrari')

del cars[2]

cars

TypeError: 'tuple' object doesn't support item deletion

In [16]:
# above example throw an exception

cars = ('Audi', 'BMW', 'Ferrari')

x = list(cars)

del x[2]

y = tuple(x)
y

('Audi', 'BMW')

# unpack tuple

Assingin multiple value of of a tuple with a variable in a single line

In [18]:
tuple_list = [1,2,3]

a,b,c = tuple_list

a,b,c

(1, 2, 3)

In [19]:
fruits = ("apple", "banana", "mango")

a,b,c = fruits

print(a,b,c)

apple banana mango

In [30]:
# only even number 

tuple_list = (1,2,3,4,5,6,7,8)
tuple_out = []
for item in tuple_list:
    if item % 2 == 0:
        tuple_out.append(item)

tuple(tuple_out)

(2, 4, 6, 8)

In [31]:
tuple_list = (1,2,3,4,5,6,7,8)
tuple_out = [ item for item in tuple_list  if item % 2 == 0]

tuple_out

[2, 4, 6, 8]

In [32]:
type(tuple_out)

list

In [33]:
tuple(tuple_out)

(2, 4, 6, 8)

# using * (Asterisk)

In [36]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

a, b, *c = fruits

print( f"a = {a}")

print( f"b = {b}")

print( f"c = {c}")

a = apple
b = banana
c = ['cherry', 'strawberry', 'raspberry']

In [37]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

a, *b, c = fruits

print( f"a = {a}")

print( f"b = {b}")

print( f"c = {c}")

a = apple
b = ['banana', 'cherry', 'strawberry']
c = raspberry

# loops

In [41]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

for fruit in fruits:
    print(fruit)

apple
banana
cherry
strawberry
raspberry

In [45]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

tuple([fruit for fruit in fruits])

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [49]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

for index in range(len(fruits)):
    print(index, fruits[index])

0 apple
1 banana
2 cherry
3 strawberry
4 raspberry

In [50]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

i = 0

while i < len(fruits):
    print(fruits[i])

    i = i+1

apple
banana
cherry
strawberry
raspberry

In [51]:
nums = (5, 6, 8, 10)

i = 0 

while i < len(nums):

    print(nums[i])

    i = i+1

5
6
8
10

In [52]:
nums = (5, 6, 8, 10)

i = 0

total = 0

while i < len(nums):
    
    total += nums[i]

    i = i+1

total

29