# join tuples

# example one of joining tuple by using + operator

In [3]:
tuple_1 = (1,2,3,4)
tuple_2 = ('a','b','c')

output = tuple_1 + tuple_2

output

(1, 2, 3, 4, 'a', 'b', 'c')

In [5]:
tuple_1 = (1,2,3,4)
tuple_2 = (5,6, 7)
output = tuple_1 + tuple_2

output

(1, 2, 3, 4, 5, 6, 7)

# using *

In [8]:
tuple_1 = (1,2,3,4)

tuple_1 = tuple_1 * 2

tuple_1

(1, 2, 3, 4, 1, 2, 3, 4)

In [11]:
fruits = ("apple", "banana", "cherry")

fruits =fruits * 2
fruits

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# since tuple is immutable join values by casting to list

In [22]:

gift = ("phone", "bike", "ring", "computer")

x = list(gift)

# add more gift
more_gift = ["clothes", "makeup kit", "glass"]

for item in more_gift:
    x.append(item)

x = tuple(x)

print(x)

('phone', 'bike', 'ring', 'computer', 'clothes', 'makeup kit', 'glass')