# Tuple

* Unchangeable 
* Ordered
* allow duplicate
* written inside `()` bracket
* read only
* indexed
* hold multiple data types


Syntax:

```

tuple = ('item 1', 'item2')

** this is not stuple **
tuple = ('item 1') this is string

```

In [3]:
tuple_item = (1,2,3,4)
tuple_item

(1, 2, 3, 4)

In [4]:
tuple_item = ("mango", "apple", "banana")
tuple_item

('mango', 'apple', 'banana')

# check type

In [6]:
type(tuple_item)

tuple

In [7]:
print(type(tuple_item))

<class 'tuple'>

In [8]:
# Example of car


cars = ('Audi', 'BMW', 'Ferrari')
cars

('Audi', 'BMW', 'Ferrari')

# acess tuple by index with square bracket
* index number 
* negative indexing

In [9]:
cars[1]

'BMW'

In [10]:
cars[0]

'Audi'

In [11]:
cars[1:]

('BMW', 'Ferrari')

In [12]:
cars[:-1]

('Audi', 'BMW')

In [13]:
cars[-2:-1]

('BMW',)

In [27]:
thistuple = ("apple", "banana", "cherry")

thistuple[-1]   # -1 reutrn last value

'cherry'

In [29]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

thistuple[2:] #return all the item from index 2 to end

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [31]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

thistuple[2: -2]  #return item from index to the second last  -1 item that means from cherry to kiwi

('cherry', 'orange', 'kiwi')

In [33]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

thistuple[-5: -1]

('cherry', 'orange', 'kiwi', 'melon')

In [35]:
# check item exist in tuple or not

thistuple = ("apple", "banana", "cherry")

if "banana" in thistuple:
    print(True)

True

# tuple or not

In [17]:
tuple_1 = ("cars",)  #should be seperated by comma

type(tuple_1)

tuple

In [15]:
tuple_2 = ("cars")
type(tuple_2)

str

# multiple data types

In [19]:
tuple_item = (1, True, 10.0, "Python Tuple")
tuple_item

(1, True, 10.0, 'Python Tuple')

In [20]:
type(tuple_item)

tuple

# tuple() constructor

In [25]:
tuple_item = tuple((19, False, 100.0, "Python Tuple"))

tuple_item

(19, False, 100.0, 'Python Tuple')