In [3]:
import sqlite3

# Create and connect database first

In [4]:
connection = sqlite3.connect("student.db")

In [5]:
connection

# cursor execute sql query

In [6]:
cur = connection.cursor()

# create a table in database

SYNTAX:

```sql

create table table_name(
    column_name data type, 
    column_name data type,
    :::::::::
    column_name data type
    )


```

In [10]:
query = """

 create table student_info(
  first_name varchar(50),
  roll_no int
 )

"""

In [11]:
cur.execute(query)

OperationalError: table student_info already exists

# insert operation

```sql

insert into table_name(
 
 column_name

)

values(value)

```

In [8]:
query = """

insert into student_info(first_name, roll_no) 
values("person A", 22)

"""

In [9]:
cur.execute(query)

# Read or select statement 

syntax:

```sql
select * from table_name
```
or

```sql
select column_name1, column_name2 from table_name
```

In [12]:
query = """
select * from student_info
"""

In [14]:
cur.execute(query).fetchall()

[('person A', 22)]

In [15]:
cur.execute('select * from student_info').fetchall()

[('person A', 22)]

# where clause/ conditional

In [18]:
cur.execute('select first_name from student_info where roll_no = 22').fetchall()

[('person A',)]

# Update Statement

```sql
update table_name
set column_name = value
where condition
```

In [19]:
cur.execute(
    'update student_info set first_name = "Person B" where roll_no = 22 '
)

In [21]:
cur.execute('select * from student_info').fetchall()

[('Person B', 22)]

# Delete Rows in sql
syntax:

```sql
delete from table_name
where condition
```

In [23]:
cur.execute(
    """ insert into student_info(first_name, roll_no)
        values("Person C", 1)
    """
    )

In [24]:
cur.execute('select * from student_info').fetchall()

[('Person B', 22), ('Person C', 1)]

In [26]:
cur.execute('delete from student_info where roll_no = 22')

In [27]:
cur.execute('select * from student_info').fetchall()

[('Person C', 1)]