# String reverse

In [19]:
txt = "Hello World"

word = txt.split()

word = " ".join(word[::-1])

word

'World Hello'

In [20]:
txt = "Hello World"

txt = txt[::-1]

txt

'dlroW olleH'

In [24]:
txt = "Hello World"

txt =list(reversed(txt.split()))

txt

['World', 'Hello']

# slicing

syntax:

 ```python

        variable[start:end]

        text = "hello world"

        start = 1  # start from e
        end = 7     # upto w because end return **end-1**

 ```

In [26]:
text = "Hello World"

text[1:7]

'ello W'

In [28]:
text = "Hello world"

text[:7]

# here if you dont put any value it will take inital value 0 as default

'Hello w'

In [35]:
text = "hello world"

text[2:]

'llo world'

In [36]:
text = "hello world"
text[::]

'hello world'

In [37]:
text = "hello world"
text[::-1]

'dlrow olleh'

Input: "Hello World"

Output: "olleH dlorw"

In [42]:
text = "hello world"

text = text[::-1]

text = text.split()

text = " ".join(text[::-1])

text

'olleh dlrow'