# loop list example

In [5]:
# print all item using index range

item_list =['apple', 'banana', 'orange', 'watermelon', 'pineapple', 'kiwi', 'mango']

for index in range(len(item_list)):
     print(item_list[index])

apple
banana
orange
watermelon
pineapple
kiwi
mango

In [9]:
item_list =['apple', 'banana', 'orange', 'watermelon', 'pineapple', 'kiwi', 'mango']

item = []

for index in range(len(item_list)):
    item = item_list[index]

    print(index, item)

0 apple
1 banana
2 orange
3 watermelon
4 pineapple
5 kiwi
6 mango

In [10]:
"""
 Another way to print list wihout using range

"""


item_list =['apple', 'banana', 'orange', 'watermelon', 'pineapple', 'kiwi', 'mango']

for item in item_list:

    print(item)

apple
banana
orange
watermelon
pineapple
kiwi
mango

# while loop

In [16]:
item_list =['apple', 'banana', 'orange', 'watermelon', 'pineapple', 'kiwi', 'mango']

i = 0

while i < len(item_list):
  item_list[i]

# this will run the loop infinitely correct way is below

KeyboardInterrupt:

In [15]:
item_list =['apple', 'banana', 'orange', 'watermelon', 'pineapple', 'kiwi', 'mango']

i = 0

while i < len(item_list):
  print(item_list[i])

  i = i + 1   # need to increment by 1

apple
banana
orange
watermelon
pineapple
kiwi
mango

# list comprehension

 Basic Syntax
```python

[ expression for item in iterable ]

[expression for item in iterable in condition]

```

In [18]:
# creating sequence of square of range 10

new_list = [x**2 for x in range(10)]
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# creating sequence of square of range 10 only even number 

new_list = [x**2 for x in range(10)  if x % 2 == 0]
new_list

[0, 4, 16, 36, 64]

In [24]:
# converting string to uppercase

words = ["hello","world","python"]

upper_word = [word.upper() for word in words]
upper_word

['HELLO', 'WORLD', 'PYTHON']

In [26]:
item_list = ["apple", "banana", "cherry"]

items = [item for item in item_list]

items

['apple', 'banana', 'cherry']

In [27]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = []

for item in fruits:

    if "a" in item:

        new_list.append(item)

new_list

['apple', 'banana', 'mango']

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [item for item in fruits if "a" in item]

new_list

['apple', 'banana', 'mango']

In [30]:
my_list = [1,2,3]
my_string = "abc"

for char in my_string:
    my_list.append(char)

my_list

[1, 2, 3, 'a', 'b', 'c']

In [33]:
my_list = [1,2,3]
my_string = "abc"

new_list = [my_list.append(char) for char in my_string]

new_list = my_list
new_list

[1, 2, 3, 'a', 'b', 'c']

In [35]:
my_list = [1,2,3]
my_string = "abc"

new_list = my_list + [char for char in my_string]

new_list

[1, 2, 3, 'a', 'b', 'c']

In [36]:
#set all items watermeleon

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = ['watermelon' for fruit in fruits]
new_list

['watermelon', 'watermelon', 'watermelon', 'watermelon', 'watermelon']

In [46]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

add_item = "watermelon"
fruits.append(add_item)

fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon']

In [47]:
new_list = [ item if item != "apple" else "orange" for item in fruits ]
new_list

['orange', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon']

# list comprehension positive number

In [51]:
num = [1, 1, -5, -1, 3]

positive_list = [p_num for p_num in num if p_num > 0]
positive_list

[1, 1, 3]

In [57]:
num = [1, 1, -5, -1, 3]

output = []
for p_num in num:

    if p_num > 0:
      output.append(p_num)

output

[1, 1, 3]

# list comprehension with if else

```python
[Expression if True else expression for item in iterable]
```
# output: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<img src="https://www.nomidl.com/wp-content/uploads/2022/04/image-10.png">

In [66]:
num = range(-10,10)
outputs = []

for item in num:

    if item > 0:
        outputs.append(item)
    else:
        outputs.append(0)

outputs

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
num = range(-10,10)


output = [ 0 if item < 0 else item for item in num  ]

output

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
#How about creating a new list where each positive number is squared and each negative number is replaced by its absolute value?


num = range(-10, 10)

output = []

for index in num:

    if index > 0:
        output.append(index**2)
    else:
        output.append(abs(index**2))

output

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
# list comprehension


num = range(-10,10)

output = [ index**2 if index > 0 else abs(index**2) for  index in num ]

output

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:

"""
input = 87

output = 15

"""

num = 87

item = str(num)

output=0
for index in item:

    output += int(index)

output

15

In [92]:
num = 87

item = str(num)

item_list = list(item)

output = sum(list(map(int, item.strip())))

output

15

In [109]:
# list comprehesion

num = 87

output = [ int(item) for item in str(num)]

output = sum(output)

output

15