# add items in set

 * add() method
 * update() method

In [4]:
fruit = {"apple", "banana", "chhery"}
added = "mango"

fruit.add(added)
fruit

{'apple', 'banana', 'chhery', 'mango'}

In [5]:
fruit = {"apple", "banana", "chhery"}
added = {"mango", "kiwi"}

fruit.add(added)
fruit

TypeError: unhashable type: 'set'

# add method only works in sinle element

# update method()

In [7]:
fruit = {"apple", "banana", "chhery"}
added = {"mango", "kiwi"}

fruit.update(added)
fruit

{'apple', 'banana', 'chhery', 'kiwi', 'mango'}

In [8]:
fruit = {"apple", "banana", "chhery"}
added = ("mango", "kiwi")

fruit.update(added)
fruit

{'apple', 'banana', 'chhery', 'kiwi', 'mango'}

# Note 
  update() method can read all types list, tuple, dictionaries it doesnot need to be set

In [10]:
fruit = {"apple", "banana", "chhery"}
added = ["mango", "kiwi"]

fruit.update(added)
fruit

{'apple', 'banana', 'chhery', 'kiwi', 'mango'}

In [18]:
fruit = {"apple", "banana", "chhery"}
added = ["mango", "kiwi"]
extra = "watermelon"

added.append(extra)
fruit.update(added)
fruit

# since added is list we have to append single value

{'apple', 'banana', 'chhery', 'kiwi', 'mango', 'watermelon'}

In [22]:
fruit = {"apple", "banana", "chhery"}
added = ["mango", "kiwi"]
extra = ("watermelon", "pineapple")



for item in extra:
    added.append(item)


fruit.update(added)

fruit

{'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

# remove set 

* remove()
* discard()
* pop()
* clear()
* del()

In [3]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

fruit.remove("apple")

fruit

{'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

In [5]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

remove_item = {'apple','chhery'}

for item in remove_item:
    fruit.remove(item)

fruit

{'banana', 'kiwi', 'mango', 'pineapple', 'watermelon'}

In [6]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}
fruit.remove('papaya')

fruit

KeyError: 'papaya'

# note [

if **ITEM** doesnot exist remove method will throw and error 

discard() method is used which will not raise error

# ]

In [7]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

fruit.discard('payapa')

fruit

{'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

# below example will remove exist element and if element doesnot exists it will not raise error

In [8]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

dicard_item = {'apple','papaya', 'mango'}

for item in dicard_item:
    fruit.discard(item)

fruit

{'banana', 'chhery', 'kiwi', 'pineapple', 'watermelon'}

# pop

In [10]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

fruit.pop()

fruit

{'apple', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

In [45]:
fruit = {'apple', 'banana', 'chhery'}
fruit.pop()

fruit

{'apple', 'chhery'}

In [46]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

fruit.pop(1)
fruit

TypeError: set.pop() takes no arguments (1 given)

# since sets is unordered, unindexed you can not pop the specific element

# clear()

In [47]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}
fruit.clear()
fruit

set()

# del()

In [48]:
fruit = {'apple', 'banana', 'chhery', 'kiwi', 'mango', 'pineapple', 'watermelon'}

del fruit

fruit

NameError: name 'fruit' is not defined

In [49]:
my_set = {1, 2, 3}
del my_set
print(my_set)  # NameError: name 'my_set' is not defined

NameError: name 'my_set' is not defined

# note 

# When you try to print my_set, you get a NameError because the set no longer exists. It has been deleted from memory.