# sets

* store multiple values in sinle variable
* unordered,and unindexed
* No duplicate members
* written inside `{}` curly brackets
* mutable however frozenset are immutable

SYANTAX:

```
  sets = {"item","item"}

```

In [1]:
thakali_set = {'Dal', 'Bhat', 'Chattni', 'Salad', 'Dahi', 'Masu', 'Gheu'}

thakali_set

{'Bhat', 'Chattni', 'Dahi', 'Dal', 'Gheu', 'Masu', 'Salad'}

In [2]:
# TYPE check

type(thakali_set)

set

In [3]:
# unindexed

thakali_set[1]

TypeError: 'set' object is not subscriptable

In [11]:
# multiple data types

set_item = {False, True, 0, "Python", 10.00}

print(set_item)

{False, True, 10.0, 'Python'}

In [6]:
set_item = {"apple", "banana", "cherry", False, True, 0}

set_item

# here 0 is not print because 0 and false considered false

{False, True, 'apple', 'banana', 'cherry'}

In [12]:
len(set_item)

4

In [16]:
set_item = {"apple", "banana", "cherry", False, True, 1}

set_item


# here 1 is not print because 1 and true is considered true

{False, True, 'apple', 'banana', 'cherry'}

In [21]:
bool(1)

True

In [19]:
bool(0)

False

In [22]:
set1 = {"apple", "banana", "cherry"}

set1

{'apple', 'banana', 'cherry'}

In [23]:
set2 = {1,2,3,4,5}
set2

{1, 2, 3, 4, 5}

In [24]:
set3 = {True, True, False, False}
set3

{False, True}

# set constructor

# set((elements))  **Note ouble bracket

In [26]:
set1 = set((1,3,4,4))

print(set1)
print(type(set1))

{1, 3, 4}
<class 'set'>

In [27]:
thisset = {"apple", "banana", "cherry"}


for item in thisset:
  print(item)

banana
apple
cherry

In [28]:
if "banana" in thisset:
    print(True)

True

In [29]:
if "mango" in thisset:
    print(True)
else:
    print(False)

False