# join() sets

* unordered collection of unique eleements

In [1]:
a = {1,2,1,3}
a

{1, 2, 3}

In [21]:
a = [2, 2, 6, 3, 3, 2]

set(a)    # remove all the duplicate value or treat them as one

{2, 3, 6}

# unique()

* reutrn all elements from both sets
* remove duplicate values
* can use | operator or union() method

In [2]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

combined_set = set1 | set2

combined_set

{1, 2, 3, 4, 5}

In [3]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

combined_set = set1.union(set2)
combined_set

{1, 2, 3, 4, 5}

In [4]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

combined_set = set1.union(set2)

combined_set

{1, 2, 3, 'a', 'b', 'c'}

In [8]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

combined_set = set2.union(set1)

combined_set

{1, 2, 3, 'a', 'b', 'c'}

In [16]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

combined_set = set2.union(set1)
combined_set

{1, 2, 3, 4, 5}

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

# intersection() method

* return items that present in both sets
* & or intersection() method

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1 & set2

result   # 3 because {3} is present in both set

{3}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1.intersection(set2)

result

{3}

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

result = x & y

result

{'apple'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

result = x.intersection(y)

result

{'apple'}

# intersection_update() will keep only duplicate item present in both set

In [31]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

result = x.intersection_update(y)

result = x

print(result)

{'apples'}

# difference()

* keep element present in one set 
* remove duplicate values
* use '-' operator or difference() method

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1 - set2

result

{1, 2}

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result= set1.difference(set2)

result

{1, 2}

In [34]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = x.difference(y)

z

{'banana', 'cherry'}

In [35]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = y.difference(x)

z

{'google', 'microsoft'}

# symmetric_diiference()

* remove duplicate values
* return the unique value of both set
* use '^' operator or symmetric_method()

In [36]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = x ^ y

z       # REMOVE APPLE AS IT PRESENT ON BOTH SET

{'banana', 'cherry', 'google', 'microsoft'}

In [37]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = x.symmetric_difference(y)

z

{'banana', 'cherry', 'google', 'microsoft'}

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}


result = set2.symmetric_difference(set1)

result

{1, 2, 4, 5}

In [43]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

result = x.symmetric_difference(y)
result

{2, 'banana', 'cherry', 'google'}

# symmetric_difference_update()

* keep only element that are not present in both set

In [42]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = x.symmetric_difference_update(y)
z= x
z

{'banana', 'cherry', 'google', 'microsoft'}

# issuperset

* return true of one set is superset of another
* reuturn false if doesnot exists

In [48]:
set1 = {1, 2, 3}
set2 = {1, 2}

result = set1.issuperset(set2)

result  # set1 is superset of set2

True

In [46]:
set1 = {1, 2, 3}
set4 = {4,5}

result = set1.issuperset(set4)

result

False

# note below example return false because set2 is not superset of set1

In [47]:
set1 = {1, 2, 3}
set2 = {1, 2}

result = set2.issuperset(set1)

result

False

however set2 is subset of set 1
# issubset()

In [49]:
set1 = {1, 2, 3}
set2 = {1, 2}

result = set2.issubset(set1)

result

True

# isdisjoint()

* return **false** if both set contain duplicate values
* return **true** if both set contain unique value

In [50]:
x = {"apples", "banana", "cherry"}
y = {"google", "microsoft", "apples"}

z = x.isdisjoint(y)

z

False

In [51]:
fruit = {"apple","banana","pineapple"}
number = {1,2,3,4}

result = fruit.isdisjoint(number)

result

True