# Lambda Function

* Python lambda function are use to define anynomous function
* lambda keyword is used

# Syntaxt

```Python
   lambda arguments : expression
```

In [1]:
# add

add = lambda x,y : x +y

In [2]:
add(2,3)

5

In [3]:
add(19,19)

38

In [4]:
power = lambda x,y : x ** y

power(2,2)

4

In [5]:
power(3,3)

27

# map and lambda function

In [6]:
num = [2,3,4,5,6]

In [8]:
x = lambda n : n + n

y = map(x, num)

y

In [9]:
list(y)

[4, 6, 8, 10, 12]

In [13]:
number = [1,2,3,4,5]

square_number = list(map(lambda num : num ** 2, number))

square_number

[1, 4, 9, 16, 25]

In [16]:
text = ["hello", "PYTHON"]

txt = map(lambda x : str.title(x), text)

list(txt)

['Hello', 'Python']

# sorting with lambda function

In [25]:
random = [24,20,21,23,25,22]

In [26]:
sorted(random, key=None, reverse=False)

[20, 21, 22, 23, 24, 25]

In [27]:
random

[24, 20, 21, 23, 25, 22]

# Note
* **sorted()** function doesnot modify original list

In [28]:
random.sort()

In [29]:
random

[20, 21, 22, 23, 24, 25]

# Note 
sort() function modify original list

In [30]:
random = [24,20,21,23,25,22]

In [36]:
random.sort(key = lambda x : x)

random

[20, 21, 22, 23, 24, 25]

In [37]:
sorted_number = sorted(random, key=lambda x: x, reverse=False)
sorted_number

[20, 21, 22, 23, 24, 25]

# decending order

In [38]:
sorted_number = sorted( random, key = lambda x : x, reverse= True)
sorted_number

[25, 24, 23, 22, 21, 20]

In [42]:
# sorting name on length of the each name

names = ["Alice", "Bob", "Charlie", "David"]

sorting = sorted(names, key= lambda x : len(x), reverse=False)
sorting

['Bob', 'Alice', 'David', 'Charlie']

In [44]:
new_list = [('9A', 37), ('9B', 34), ('9C', 38), ('9D', 30)]

sorting = sorted(new_list, key=lambda x:x[1], reverse=False)
sorting

[('9D', 30), ('9B', 34), ('9A', 37), ('9C', 38)]

# filter with lambda

In [46]:
# filter number above 23

random = [24,20,21,23,25,22]

x = list(filter(lambda x : x > 23, random))

x

[24, 25]

In [50]:
fruits = ["apple", "banana", "orange", "cherry"]

x = list(filter(lambda x : len(x) > 5, fruits))
x

['banana', 'orange', 'cherry']

In [61]:
fruits = ["apple", "banana", "orange", "cherry"]
x = list(filter(lambda fruit: len(fruit) % 2 == 0, fruits))

x

['banana', 'orange', 'cherry']