# Dictionary
* multipledatatypes
* ordered 
* muteable or chanageable
* doesnot allow duplicate value
* `{}` use 

# dictionary are use to store value in **key:value** pair

**SYNTAX :**

```python
{
    key1: value1,
    key2: value2
}
```

In [1]:

# creating empty dictionary

d = {}

type(d)

dict

In [2]:
d = dict()

type(d)

dict

In [3]:
# creating dictionary

student = {
    'name' : 'John',
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

student

{'name': 'John', 'address': 'Nepal', 'subject': ['Math', 'Science']}

In [4]:
type(student)

dict

In [5]:
student = {
    'name' : {
        'first_name': 'Johny',
        'last_name' : 'Sins'
    },
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

student

{'name': {'first_name': 'Johny', 'last_name': 'Sins'},
 'address': 'Nepal',
 'subject': ['Math', 'Science']}

In [6]:
student['name']

{'first_name': 'Johny', 'last_name': 'Sins'}

In [7]:
student['address']

'Nepal'

In [8]:
student['subject']

['Math', 'Science']

In [9]:
len(student)

3

In [10]:
student = {
    'name' : 'John',
    'Male' : True,
    'age' : 34,
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

student

{'name': 'John',
 'Male': True,
 'age': 34,
 'address': 'Nepal',
 'subject': ['Math', 'Science']}

# no duplicate values

In [13]:
cars = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}

cars

# since python is top to bottom approach it takes last value of items are duplicate

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# dict() constructor

In [11]:
student = dict(name="Johny Sins", address="America", profession="['Actor','Plumber','Doctor']")
student

{'name': 'Johny Sins',
 'address': 'America',
 'profession': "['Actor','Plumber','Doctor']"}