# Access item 
* `[]` using squre bracket
* get() method
* keys() and values() method
* items() method

In [1]:
# using `[]` method

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car['brand']

'Ford'

In [2]:
car['model']

'Mustang'

In [3]:
car['year']

1964

In [4]:
# get () method

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.get("brand")

'Ford'

In [5]:
car.get("model")

'Mustang'

In [6]:
car.get("year")

1964

In [7]:
car.get()

TypeError: get expected at least 1 argument, got 0

# keys and value

* keys() method return keys of dictionary
* values() method return values of the dictionary

In [8]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.keys()

dict_keys(['brand', 'model', 'year'])

In [9]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.values()

dict_values(['Ford', 'Mustang', 1964])

In [10]:
student = {
    'name' : {
        'first_name': 'Johny',
        'last_name' : 'Sins'
    },
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

student.keys()

dict_keys(['name', 'address', 'subject'])

In [11]:
student.values()

dict_values([{'first_name': 'Johny', 'last_name': 'Sins'}, 'Nepal', ['Math', 'Science']])

In [12]:
student['phone'] = '9815136310'

student

{'name': {'first_name': 'Johny', 'last_name': 'Sins'},
 'address': 'Nepal',
 'subject': ['Math', 'Science'],
 'phone': '9815136310'}

In [54]:
student = {
    'name' : {
        'first_name': 'Johny',
        'last_name' : 'Sins'
    },
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

for key, value in student.items():

   if key == 'name':
     for key, values in value.items():
       print(key, " = ", values)
   else:
    print(key, "= ", value)

first_name  =  Johny
last_name  =  Sins
address =  Nepal
subject =  ['Math', 'Science']

# items() method return dictionary as a tuple in list

In [13]:
student.items()

dict_items([('name', {'first_name': 'Johny', 'last_name': 'Sins'}), ('address', 'Nepal'), ('subject', ['Math', 'Science']), ('phone', '9815136310')])

In [14]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [17]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

cars = car.items()

car["year"] = 2024

cars

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2024)])

In [20]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

item = car.items()

for key, value in item:
    print(key, value)

brand Ford
model Mustang
year 1964

In [28]:
student = {
    'name' : {
        'first_name': 'Johny',
        'last_name' : 'Sins'
    },
    'address' : 'Nepal',
    'subject' : ['Math', 'Science']
}

item = student.items()

for key, value in item:
    print(key, " = ",value)

name  =  {'first_name': 'Johny', 'last_name': 'Sins'}
address  =  Nepal
subject  =  ['Math', 'Science']

# change item of dictionary

* `[]` using this 
* update() method

In [31]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car["year"] =2024

car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [33]:
item  = car.items()
item

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2024)])

In [37]:
for key,value in item:
    print(key, "=", value)

brand = Ford
model = Mustang
year = 2024

# update() method

In [38]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.update({"year" : 2024})

car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [65]:
# updating multiple items
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
add_item = dict({"color": "red", "price":"$500k"})

car.update(add_item)
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'red',
 'price': '$500k'}

# Remove item

* pop()
* popitems()
* del()
* clear()

In [58]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.pop("year")

print(f"The item that pop is {x}")

The item that pop is 1964

In [59]:
print(f"New dictionary is : {car}")

New dictionary is : {'brand': 'Ford', 'model': 'Mustang'}

In [61]:
# removing multiple dictionary item 

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}

remove_item = ["year","price","model"]   #it could be list or sets

for item in remove_item:
    if item in car:
        car.pop(item)

car

{'brand': 'Ford', 'color': 'Red', 'Electric': False}

In [63]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}

remove_item = ("year","price","model")  #it could be list or sets

for item in remove_item:
    if item in car:
        car.pop(item)

car

{'brand': 'Ford', 'color': 'Red', 'Electric': False}

In [68]:
# pop item


car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}

car.popitem()
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'Red',
 'price': '$500k'}

In [72]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}

x = car.popitem()

print(f"Item Removed : {x}")


car.update({"Milege":"100km per l"})

x = car.popitem()

print(f"Item Removed : {x}")

print(f" New Item is {car}")

Item Removed : ('Electric', False)
Item Removed : ('Milege', '100km per l')
 New Item is {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red', 'price': '$500k'}

# last item added is removed in popitem and it doesnot take argument

# del() function delete the dictionary of **particular** item or entire dictionary

In [73]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}


del car["color"]

car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'price': '$500k',
 'Electric': False}

In [74]:
del car["Electric"]

car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': '$500k'}

In [75]:
del car["brand"]

car

{'model': 'Mustang', 'year': 1964, 'price': '$500k'}

In [87]:
# using loop deleting multiple value electric, brand and color

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"color": "Red",
"price" : "$500k",
"Electric": False
}


remove_item = ["electric","brand","color"]


for item in remove_item:
 
    if item in car:
        del car[item]

car

{'model': 'Mustang', 'year': 1964, 'price': '$500k', 'Electric': False}

In [110]:
# above example doesnot delete electric because python is case sensitive so ELectric and electric are different 

# fixed code

car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "color": "Red",
    "price": "$500k",
    "Electric": False
}



for key in car:
   x = key.lower()
   print(x)

brand
model
year
color
price
electric

In [168]:
# Step 1: Change remove item to lower case and store in new list
# step 2: Change key value of car in lower case


car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "color": "Red",
    "price": "$500k",
    "Electric": False
}

lower_car={}
remove_items = ["electric","Brand","color"]

rm_item =[]

for item in remove_items:
    rm_item.append(item.lower())

for key,value in car.items():
   key = key.lower()
   lower_car[key] = value


for rm_items in rm_item:
    
    if rm_items in lower_car:
        del lower_car[rm_items]

lower_car

{'model': 'Mustang', 'year': 1964, 'price': '$500k'}

In [188]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "color": "Red",
    "price": "$500k",
    "Electric": False
}

remove_items = ["electric","Brand","ColOR"]

for item in remove_item:
    
    if item.lower() in car:
        del car[item.lower()]
    elif item.upper() in car:
        del car[item.upper()]
    else:
        del car[item.capitalize()]
       
car

{'model': 'Mustang', 'year': 1964, 'price': '$500k'}

# Swap key, val in given dictionary

In [1]:
d = {1: 'a', 2:'b', 3:'c'}
# expected output {"a": 1, "b": 2, "c": 3}

In [23]:
d = {1: 'a', 2:'b', 3:'c'}
for item in d:
  print(f"'{item}':{d[item]}")

'1':a
'2':b
'3':c

In [22]:
d = {1: 'a', 2:'b', 3:'c'}
for item in d:
  print(item,":",d[item])

1 : a
2 : b
3 : c

# above method is not a ideal way

In [34]:
d = {1: 'a', 2:'b', 3:'c'}
n={}
for key,value in d.items():
    n.update({value:key})
n

{'a': 1, 'b': 2, 'c': 3}

In [35]:
d = {1: 'a', 2:'b', 3:'c'}
n={}
for key,value in d.items():
    n[value] = key
n

{'a': 1, 'b': 2, 'c': 3}

In [57]:
d = {1: 'a', 2:'b', 3:'c'}
temp ={}
for key,value in d.items():
   temp[value] = key

if any(item in temp for item in d):
    d.update(item)
else:
    pass
d

{1: 'a', 2: 'b', 3: 'c'}